{{#if login.loggedIn}}
<div class="loggedin">Welcome back {{login.user.username}}! <a href="?logout">Logout</a></div>
{{else}}
<form action="/login" method="post">
    {{!-- ?action=login --}}
    <input type="hidden" name="action" value="login">
    {{!-- &redirect=... --}}
    <input type="hidden" name="redirect" value="{{redirect}}">
    {{!-- &username=... --}}
    <input type="text" name="username" placeholder="Username">
    {{!-- &password=... --}}
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
</form>

{{/if}}