<h3>Photo Menu</h3>
<div class="photo-menu">
    {{#each photos}}
    <a href="/photo/{{photo_id}}">
        <div class=" photo-thumb" style="background-image: url('/images/gallery/{{filename}}')">

        </div>
    </a>
    {{/each}}
</div>